
h1 {
  color: #DCDCDC;
  text-align: center;
  padding-top: 120px;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 80px;
}

.banner {
  padding: 80px 0;
  background-image: url(../image/whale.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}
