html, body { height: 100%; }

body.profile {
  background: url(../image/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 255, 255, 0.2);
}

.nav {
  text-align: left;
}

a.back {
  font-family: 'Aldrich';
  font-size: 15px;
  color: red;
}

a.top {
  font-family: 'Aldrich';
  font-size: 15px;
  color: #00FFFF;
  text-align: right;
  visibility: hidden;
}

h1.aboutme {
  padding-left: 5cm;
}

.text {
  text-align: center;
  line-height: 250%;
}

i.material-icons {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

.content {
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  height: 100%;
  border-style: solid;
  border-width: thin;
}

.list > li {
  display: block;
  text-align: left;
  padding-left: 35%;
}

a.ua {
  text-decoration: none;
  color: 	#ADFF2F;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-content{
	position: relative;
	margin-top: 20px;
  text-align: left;
  bottom: 0;
}

.footer-content p{
	color: #6495ED;
	font-size: 12px;
}
