html, body {
  height: 100%;
  font-weight: bolder;
}

.text {
  border-style: double;
}
/*
.selfie {
  position: relative;
  text-align: right;
  border-style: dotted;
  padding-top: 10pt;
}
*/
img {
  height: 50pt;
  width: 40pt;
  border-radius: 50%;
}

body.profile {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(225, 225, 0, 0.2);
}

.nav {
  text-align: left;
}

a.back {
  font-family: 'Aldrich';
  font-size: 15px;
  color: red;
  text-decoration: underline;
}

a.top {
  font-family: 'Aldrich';
  font-size: 15px;
  color: #00FFFF;
  text-align: right;
  visibility: hidden;
}

.innner-content > h1 {
  font-family: 'Allura';font-size: 22px;
}

.text {
  text-align: center;
  line-height: 250%;
}

i.material-icons {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

.content {
  position: relative;
  margin-top: 10px;
  left: 0;
  right: 0;
  border-style: solid;
  border-width: thin;
}

.list > li {
  position: relative;
  display: block;
}

a.ua {
  text-decoration: underline;
  font-family: 'Annie Use Your Telescope';font-size: 16px;
  color: 	#6495ED;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-content{
	position: relative;
	margin-top: 20px;
  text-align: left;
  bottom: 0;
}

.footer-content p{
	color: #6495ED;
	font-size: 12px;
}
