html, body {
  background-color: rgba(240,255,240,0.4);
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 500%;
  font-family: 'Acme', sans-serif;
  color: gray;
}

h3 {
  font-size: 250%;
  font-family: 'Architects Daughter', cursive;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
}

hr {
  width: 80%;
}

.goback {
  text-align: left;
  padding-top: 0.5em;
  padding-left: 0.5em;
}

a.back {
  font-family: 'Aldrich';
  font-size: 15px;
  color: red;
  text-decoration: underline;
}

.blender {
  position: absolute;
  width: 100%;
  height: 2em;

  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(240,230,140, 0.1);
}

.navi {
  position: relative;;
  width: 100%;

  left: 0;
  right: 0;

  margin-top: -1.1em;;

  background-color: white;
  background-color: rgba(240, 255, 255, 0.8);
}

.p1 {
  /*border-style: solid;*/
  margin-left: 15em;
  margin-right: 15em;
}

img#p1 {
  /*position: absolute;*/
  /*z-index: 1;*/
  width: 350px;
  height: auto;
  /*top: 40em;*/
  /*left: 70%;*/
}

.p2 {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 3em;
}

img#p2 {
/*  position: absolute;
  z-index: 1;*/
  width: 150px;
  height: auto;
  margin-top: -15em;
  /*left: 75%;*/
}

.p3 {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 3em;
}

img#p3 {
  /*position: absolute;*/
  /*z-index: -1;*/
  width: 350px;
  height: auto;
  /*top: 90em;*/
  /*left: 70%;*/
  background-color: rgba(240,255,240,0);
}

.p4 {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 3em;
}

img#p4 {
  /*position: absolute;*/
  /*z-index: -1;*/
  width: 350px;
  height: auto;
  top: 15em;
  /*left: 70%;*/
  background-color: rgba(240,255,240,0);
}

.p5 {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 3em;
}

img#p5 {
  /*position: absolute;*/
  /*z-index: -1;*/
  width: 350px;
  height: auto;
  /*top: 65em;*/
  /*left: 70%;*/
  background-color: rgba(240,255,240,0);
}

.more {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 3em;
}

.backToTop {
  text-align: right;
  margin-top: 1em;
}

.footer {
  font-size: 50%;
  font-family: "Times New Roman", Times, serif;
  color: grey;
}

@media(max-width:1150px) {
  .container {
    font-size: 0.5em;
  }
  img#p1 {
    visibility: hidden;
  }
  img#p2 {
    visibility: hidden;
  }
  img#p3 {
    visibility: hidden;
  }
  img#p4 {
    visibility: hidden;
  }
  img#p5 {
    visibility: hidden;
  }
}
